<head>
    <title>404!!!!</title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    
    <div class="navbar bg-base-100">
      <%- include('partials/navbar') %>
    </div>
  
    <!--  -->

    <div class="container ">


        
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">404 NOT FOUND</h1>
    
                <p class="py-6"><%= msg %></p>
            </div>
            
  
      <br>
  
      
  
  
    </div>
    
      <!--  -->
  </body>
  
  