<head>
  <title>About me</title>
  <link rel="stylesheet" href="../css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  
  <div class="navbar bg-base-100">
    <%- include('partials/navbar') %>
  </div>

  <!--  -->

  <div class="container ">


    <div class="hero bg-base-200 p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome to my about section</h1>

          <p class="py-6">You want to know about me, below is detail about me.</p>
        </div>
      </div>
    </div>

    <br>

    <div class="grid grid-cols-1 md:grid-cols-2  gap-4 lg:gap-10 ">
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="../image/shubh.jpeg" style="height: 500px; width: 300px; object-fit: cover; border-radius: 5%;"
            alt="Lego set">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Shubhdeep Kaur</h2>
            
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
         
          <div class="card-body">
            <h2 class="card-title">My Details</h2>
            <p>I am Shubhdeep Kaur, currently in the third semester of my enrollment at CPP. My passion lies in becoming a proficient project manager, driving impactful initiatives in the near future. During my leisure hours, I immerse myself in the profound world of books, continuously seeking knowledge and inspiration. Additionally, I share my insights and motivation with others as a dedicated motivational speaker.</p>
            
          </div>

        </div>
      </div>
      
    </div>


</div>
  
    <!--  -->
</body>

