

<head>
  <title>Lego collections</title>
  <link rel="stylesheet" href="../css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  
  <div class="navbar bg-base-100">
    <%- include('partials/navbar') %>
  </div>

  <!--  -->
  
  <div class="container ">


    <div class="hero bg-base-200 p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome</h1>

          <p class="py-6">Unleash your inner builder and embark on a fascinating journey through the colorful realm of Lego.</p>
      
          <a href="http://localhost:3000/lego/sets" class="bg-blue-100 text-gray-600 py-2 px-4 rounded-full hover:bg-blue-200 hover:text-gray-700 focus:outline-none focus:ring focus:border-transparent">Get Started Now</a>
        </div>
      </div>
    </div>

    <br>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/02-2.jpg" alt="Lego set">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Digger Bucket Assembly</h2>
            <p>This set was released in 1980.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/02-Feb" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/028-1.jpg" alt="Lego Set">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Nursery Furniture</h2>
            <p>Classic Duplo set - create a nursery for your minis.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/028-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://cdn.rebrickable.com/media/sets/033-1.jpg" alt="Lego Set">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Farm Animals</h2>
            <p>Classic game - released in 1979</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/033-1" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>
    </div>


</div>
  <!--  -->
</body>

