
<div class="flex-1">
  <a class="btn btn-ghost normal-case text-xl" href="/lego/sets">Lego Collection</a>
</div>

<div class="navbar-center flex">
  <ul class="menu menu-horizontal px-1">
    <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
    <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add Set</a></li>
    <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
  </ul>
</div>
